<!DOCTYPE html>
<html>
  <head>
    <title>Flask Application</title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        color: #008080;
        font-size: 4rem;
        margin-top: 5rem;
      }
      p {
        color: #333;
        font-size: 2rem;
        margin-top: 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Python Flask application is executed on jenkins pipeline</h1>
    <p>Welcome to my landing page!</p>
  </body>
</html>